.modal {
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: aqua;
  transition: right 1s ease-in-out;
}

.modal {
  background-color: aqua;
}

/* .modal.show {
  right: 0;
 } 

.modal2{
  background-color: aqua;
} */